<header>
    <nav>
       <div class="logo">
          <a href="/index">
          <img src="../logo.svg" filter="invert" />
          </a>
       </div>
       <ul class="list-item">
          <li><a href="/infos">Infos</a></li>
          <li><a href="/links">Links</a></li>
          <li><a href="/tutorials">Tutorials</a></li>
          <li><a href="/projects">Projects</a></li>
       </ul>
       <div class="the-idea">
          <li><a href="#idea">WIKI</a></li>
       </div>
    </nav>
 </header>