<!DOCTYPE html>
<html>

<head>
    <title>Tinkering website</title>
    <link rel="stylesheet" type="text/css" href="../styles.css" />
    <meta name="description" content="Our first page">
    <meta name="keywords" content="html tutorial template">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;900&display=swap" rel="stylesheet">


    <!-- Page information -->
    <meta charset="UTF-8" />

    <link rel="shortcut icon" href="/favicon.ico" />
    <!-- Set title -->

    <script>
        var DO_NOT_OVERWRITE_LINK_BEHAVIOR = true;
        const PAGE_DEPTH = 0;
    </script>

    <!-- Includes -->

    <script src="/static/obsidian_core.js"></script>
    <script src="/static/encoding.js"></script>
    <link rel="stylesheet" href="/static/master.css" />
    <script src="/static/mermaid.9.0.1.min.js"></script>
    <script>
        MathJax = {
            loader: {
                load: [
                    '[tex]/action',
                    'output/chtml',
                    '[tex]/centernot'
                ]
            },
            tex: {
                inlineMath: [["\\(", "\\)"]],
                displayMath: [["\\[", "\\]"]],
                processEscapes: true,
                processEnvironments: true,
                packages: { '[+]': ['centernot'] }
            }
        };
    </script>
    <script type="text/javascript" id="MathJax-script" async
        src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
        </script>
    <script src="/static/flexsearch.bundle.js"></script>
    <script src="/static/pako.js"></script>
    <script src="/static/search.js"></script>
    <script src="/static/dirtree.js"></script>
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="/index">
                    <img src="../logo.svg" filter="invert" />
                </a>
            </div>
            <ul class="list-item">
                <li><a href="/infos">Infos</a></li>
                <li><a href="#links">Links</a></li>
                <li><a href="/tutorials">Tutorials</a></li>
                <li><a href="/projects">Projects</a></li>
            </ul>
            <div class="the-idea">
                <li><a href="#idea">WIKI</a></li>
            </div>


        </nav>
    </header>

    <main>
        <!-- Contenu spécifique à chaque vue -->
        <%- include('layout'); %>    </main>

    <div class="footer">

        <div class="content">
          <div class="services">
            <h4>Services</h4>
            <p><a href="#">App development</a></p>
            <p><a href="#">Web development</a></p>
            <p><a href="#">DevOps</a></p>
            <p><a href="#">Web designing</a></p>
          </div>
          <div class="social-media">
            <h4>Social</h4>
            <p>
              <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
            </p>
            <p>
              <a href="#"><i class="fab fa-twitter"></i> Twitter</a>
            </p>
            <p>
              <a href="https://github.com/farazc60"><i class="fab fa-github"></i> Github</a>
            </p>
            <p>
              <a href="https://www.facebook.com/codewithfaraz"><i class="fab fa-facebook"></i> Facebook</a>
            </p>
            <p>
              <a href="https://www.instagram.com/codewithfaraz"><i class="fab fa-instagram"></i> Instagram</a>
            </p>
          </div>
          <div class="links">
            <h4>Links</h4>
            <p><a href="#">Home</a></p>
            <p><a href="#">About</a></p>
            <p><a href="#">Blogs</a></p>
            <p><a href="#">Contact</a></p>
          </div>
          <div class="details">
            <h4 class="mobile">Mobile</h4>
            <p><a href="#">Ask by mail</a></p>
            <h4 class="mail">Email</h4>
            <p><a href="#">alexbalz@gmail.com</a></p>
          </div>
        </div>
        <footer>
          <hr />
          © 2023 Alex website.
        </footer>
      </div>
</body>

</html>