<!DOCTYPE html>

<html lang="en">
    <head>
        <!-- Page information -->
        <meta charset="UTF-8" />
        <meta name="node_id" content="About ObsidianHtml">
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="shortcut icon" href="/favicon.ico" />
        <!-- Set title -->
        <title>Obsidian-Html/Notes</title>

        <script>
            var DO_NOT_OVERWRITE_LINK_BEHAVIOR = true;
            const PAGE_DEPTH = 1;
        </script>

        <!-- Includes -->
        
<script src="/obs.html/static/obsidian_core.js"></script>
<script src="/obs.html/static/encoding.js"></script>
<link rel="stylesheet" href="/obs.html/static/master.css" />
<script src="/obs.html/static/mermaid.9.0.1.min.js"></script>
<script>
  MathJax = {
    loader: {
      load: [
        '[tex]/action',
        'output/chtml',
        '[tex]/centernot'
      ]
    },
    tex: {
      inlineMath: [ ["\\(","\\)"] ],
      displayMath: [ ["\\[","\\]"] ],
      processEscapes: true,
      processEnvironments: true,
      packages: {'[+]': ['centernot']}
    }
  };
</script>
<script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
<script src="/obs.html/static/flexsearch.bundle.js"></script>
<script src="/obs.html/static/pako.js"></script>
<script src="/obs.html/static/search.js"></script>
<script src="/obs.html/static/dirtree.js"></script>


    </head>

    <body>
        <div class="container">
            <div class="dirtree"><button id="folder-1" class="dir-button" onclick="toggle_dir(this.id)">Files</button>
<div id="folder-container-1" class="dir-container requires_js " path="/Files">
	<ul class="dir-list">
		<li><a class="" href="/Files/Pasted image 20230211154751.png"  class="external-link">Pasted image 20230211154751</a></li>
		<li><a class="" href="/Files/Pasted image 20230211155828 1.png"  class="external-link">Pasted image 20230211155828 1</a></li>
		<li><a class="" href="/Files/Pasted image 20230211155959 1.png"  class="external-link">Pasted image 20230211155959 1</a></li>
		<li><a class="" href="/Files/Pasted image 20230211160013 1.png"  class="external-link">Pasted image 20230211160013 1</a></li>
	</ul>
</div>
<button id="folder-2" class="dir-button" onclick="toggle_dir(this.id)">SYS_ADMIN</button>
<div id="folder-container-2" class="dir-container requires_js " path="/SYS_ADMIN">
	<button id="folder-3" class="dir-button" onclick="toggle_dir(this.id)">Automation</button>
	<div id="folder-container-3" class="dir-container requires_js " path="/SYS_ADMIN/Automation">
		<button id="folder-4" class="dir-button" onclick="toggle_dir(this.id)">Ansible</button>
		<div id="folder-container-4" class="dir-container requires_js " path="/SYS_ADMIN/Automation/Ansible">
			<ul class="dir-list">
				<li><a class="" href="/SYS_ADMIN/Automation/Ansible/Fichier de configuration.html"  >Fichier de configuration</a></li>
				<li><a class="" href="/SYS_ADMIN/Automation/Ansible/Installation et exploitation.html"  >Installation et exploitation</a></li>
				<li><a class="" href="/SYS_ADMIN/Automation/Ansible/Inventaire.html"  >Inventaire</a></li>
				<li><a class="" href="/SYS_ADMIN/Automation/Ansible/Modules.html"  >Modules</a></li>
				<li><a class="" href="/SYS_ADMIN/Automation/Ansible/Playbook.html"  >Playbook</a></li>
			</ul>
		</div>
		<ul class="dir-list">
		</ul>
	</div>
	<ul class="dir-list">
	</ul>
</div>
<ul class="dir-list">
	<li><a class="" href="/index.html"  >index</a></li>
</ul>
</div>
<div class="graph requires_js hidden">
    <div id="A232128251773775885695619998963622130958{level}" class="graph_div"></div>
    
    <div class="graph-button-row" style="display:flex;">
        <button class="graph_button graph_show_button" id="B232128251773775885695619998963622130958{level}" level="{level}" note_temp_id="232128251773775885695619998963622130958" onclick="window.ObsHtmlGraph.run(this, '232128251773775885695619998963622130958', 'dirtree');">
            Show Graph
        </button>
        <button class="graph_button graph_type_button" id="C232128251773775885695619998963622130958{level}" style="flex:1" onclick="window.ObsHtmlGraph.switch_graph_type(this);">
            2D
        </button>
    </div>
</div>

<script type="module">
    if (window.ObsHtmlGraph == undefined){
        import('/obs.html/static/graph.js').then((Module) => {
            window.ObsHtmlGraph = Module;
            window.ObsHtmlGraph.arm_page(document.getElementById('page_holder'))
        })
    }
</script>



        </div>
        
             
        
   
    </body>
</html>