
<!DOCTYPE html>
<head>
  <%- include('partials/head'); %>
</head>
<body>

  <%- include('partials/header'); %>

 
  <div class="row-main">
    <div class="column-main left" style="background-color:#aaa;">
        <a href="/inprogress">
            <img src="proxmox_logo.png">
            <h2>Make your Homelab with Proxmox!</h2>
            <p>- Hardware</p>
            <p>- Network</p>
            <p>- Services</p>

        </a>
    </div>
    <div class="column-main middle left" style="background-color:#bbb;">
        <a href="/inprogress">
            <img src="pihole_logo.png">
            <h2>How to use Raspberry pi for ad-blocking</h2>
            <p>- Pihole</p>
            <p>- Dns Explained</p>
            <p>- Why using it ? </p>
        </a>
    </div>
    <div class="column-main middle right" style="background-color:#ccc;">
        <a href="/inprogress">
            <img src="betaflight_logo.png">
            <h2>Build your FPV Quadcopter</h2>
            <p>- Basics of FPV</p>
            <p>- Components of a quadcopter</p>
        </a>
    </div>
    <div class="column-main right" style="background-color:#ccc;">
        <a href="/inprogress">
            <img src="websitecrea_logo.png">
            <h2>Another project for making a website</h2>
            <p>Some text..</p>
        </a>
    </div>
</div>
 
  <%- include('partials/footer'); %>

</body>
</html>
       