
<!DOCTYPE html>
<head>
  <%- include('partials/head'); %>
</head>
<body>

  <%- include('partials/header'); %>

  
  <div class="tutos">
    <a href="/tutorials/ansible_cheats"><div class="tuto">Ansible Cheatsheet</div></a>
    <a href="/tutorials/linux_disks"><div class="tuto">Linux Disks</div></a>
      <a href="/inprogress"><div class="tuto">THREE</div></a>
        <a href="/inprogress"><div class="tuto">FOUR</div></a>

  </div>

 
  <%- include('partials/footer'); %>

</body>
</html>